@charset "UTF-8";

@font-face {
    font-family: 'valentine';
    src: url('fontes/VALENTIN.TTF') format('truetype') ;

    
}

@font-face {
    font-family: 'Heli';
    src: url('fontes/Heli.otf') format('opentype');
}


body {
    background-image: url(Imagens/coracao.jpg);

}

header {
    background-color: rgba(255, 182, 193, 0.644);
    min-height: 150px;
    text-align: center;
    











}

h1 {
    
    color: red;
    font-family: 'valentine';
    font-size: 50px;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    border: 50px;






}

nav {
    padding: 10px;
    background-color: pink;
    text-align: center;
    margin-bottom: 10px;
}

nav > a {

    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: darkred;
    



}

nav > a:hover {
    background-color: darkred;
    color: white;

}

main {
    background-color: rgba(255, 182, 193, 0.644);
    
        min-width: 320px;
        max-width: 800px;
        margin: auto;
        margin-bottom: 30px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 20px;
        
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    


}

article {
    padding: 10px;
    text-align: center;
    margin: auto;

}

p {
    text-align: justify;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;


}


audio {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main.texto {
    font-family: 'Heli';
    font-size: 50px;

    


}

.p1 {
    height: 120px;
    width: 300px;
    margin: auto;
    background-color: white;
    background-image: url('Imagens/poema1');
    background-size: cover;
    background-position: center center;
   

}

.cp {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 50px;
}

